<%- include('header'); -%>

<div class="custom-alreadyExists-icon">
  <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
</div>

<h2 class="success-h1">Project with ID: <%= agreementID %> already exists in database!</h2>
<h4 class="success-h1">Please go to "Projects" and edit it from there.</h4>

<%- include('footer'); -%>