<%- include('header'); -%>

<div class="custom-failure-icon">
  <i class="fa-solid fa-circle-xmark fa-2xl"></i>
</div>

<h2 class="failure-h1">This page is only available for users that have admin permissions...</h2>


<%- include('footer'); -%>