<%- include('header'); -%>

<div class="custom-failure-icon">
  <i class="fa-solid fa-circle-xmark fa-2xl"></i>
</div>

<h2 class="failure-h1">Operation failure...</h2>
<h3 class="failure-h1"><%=message%></h3>
<h4 class="failure-h1">Please try again later. If problem persists - please report it as an issue.</h4>

<%- include('footer'); -%>