<%- include('header'); -%>

<div class="custom-success-icon">
  <i class="fa-solid fa-circle-check fa-2xl"></i>
</div>

<h2 class="success-h1">Operation successful!</h2>
<h4 class="success-h1"><%= message %></h4>

<%- include('footer'); -%>