<%- include('header'); -%>

<div class="custom-alreadyExists-icon">
  <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
</div>

<h2 class="success-h1">Username: "<%= username %>" has been already taken!</h2>
<h4 class="success-h1">Please try again with username that will be unique.</h4>

<%- include('footer'); -%>